.fontPhoto {
	font-size: 13px;
	color: #666666;
}

.fontDown {
	font-size: 13px;
	color: #666666;
}

.fontTitle {
	font-weight: bold;
	color: #0577b5;
	FONT-SIZE: 12px;
}

.front1 {
	font-weight: normal;
	font-size: 12px;
	font-family: 'ו', Simsun;
}

.front2 {
	font-size: 12px;
	font-family: 'ו', Simsun;
	color: #666666;
}